<div class="container">
    <form autocomplete="off" (ngSubmit)="save()" [formGroup]="contactForm">
        <div class="ui-g">
            <div class="ui-g-12">
                <h1>{{ editing ? 'Edição de' : 'Novo' }} Contatos</h1>
            </div>

            <div class="ui-g-12 ui-md-4 ui-fluid">
                <label>Nome</label>
                <input pInputText type="text" name="name" formControlName="name">

                <app-message [control]="contactForm.get('name')" error="required" text="Informe o nome"></app-message>            </div>

            <div class="ui-g-12 ui-md-4 ui-fluid">
                <label>Sobre Nome</label>
                <input type="text" pInputText name="lastName" formControlName="lastName">

                <app-message [control]="contactForm.get('lastName')" error="required" text="Informe o sobre nome">
                </app-message>
            </div>

            <div class="ui-g-12 ui-md-4 ui-fluid">
                <label>Telefone</label>
                <p-inputMask name="telephone" formControlName="telephone" mask="(99) 9 9999-9999" unmask="()-"></p-inputMask>

                <app-message [control]="contactForm.get('telephone')" error="required" text="Informe o telefone"></app-message>
            </div>

            <div class="ui-g-12 ui-md-4 ui-fluid">
                <label>E-mail</label>
                <input type="text" pInputText name="email" formControlName="email">

                <app-message [control]="contactForm.get('email')" error="email" text="E-mail inválido"></app-message>
            </div>

            <div class="ui-g-12 ui-md-4 ui-fluid">
                <label>Twitter</label>
                <p-inputMask name="twitter" formControlName="twitter" mask="@*********"></p-inputMask>
            </div>

            <div class="ui-g-12 ui-md-4 ui-fluid">
                <label>Skype</label>
                <input type="text" pInputText name="skype" formControlName="skype">
            </div>

            <div class="ui-g-12 buttons-form">
                <button pButton type="submit" label="Salvar" [disabled]="contactForm.invalid"></button>
                <button pButton type="button" label="Novo" (click)="newContact()"></button>
                <a routerLink="/contatos">Voltar para a pesquisa</a>
            </div>

        </div>
    </form>
</div>